*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;

  display: flex;
  justify-items: center;
  justify-content: center;

  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: $font-weight-normal;

}
