.overview-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  background-color: var(--card-background);
  padding: 2.5rem 2rem;
  border-radius: $card-border-radius;
  transition: all .5s;

  &--facebook-views {
    grid-column: card-grid-start / span 1;
    grid-row: card-grid-start / span 1;
  }

  &--facebook-likes {
    grid-column: 2 / span 1;
    grid-row: card-grid-start / span 1;
  }

  &--instagram-likes {
    grid-column: 3 / span 1;
    grid-row: card-grid-start / span 1;
  }

  &--instagram-views {
    grid-column: 4 / span 1;
    grid-row: card-grid-start / span 1;
  }

  &--twitter-retweets {
    grid-column: card-grid-start / span 1;
    grid-row: 3 / span 1;
  }

  &--twitter-likes {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  &--youtube-likes {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }

  &--youtube-views {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__page-views {
    color: var(--color-text-secondary);
    font-weight: $font-weight-bold;
    align-self: center;
  }

  &__social-icon {
    align-self: end;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__count {
    font-weight: $font-weight-bold;
    color: var(--color-text-main);
    font-size: 3rem;
    transform: translateY(5px);
  }

  &__percent {
    display: flex;
    align-self: end;

    &__svg {
      margin-right: .3rem;
    }


    &__number {
      font-weight: $font-weight-bold;

      &--positive {
        color: $color-text_green;
      }

      &--negative {
        color: $color-text_red;
      }
    }
  }


}
