.header {
  grid-column: grid-start / grid-end;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: $color-very-dark-blue_text;
    font-weight: $font-weight-bold;
    font-size: 3rem;
  }

  &__subtitle {
    color: $color-dark-grayish-blue_text;
    font-weight: $font-weight-bold;
  }

}

.header__background {
  position: absolute;
  z-index: -10;
  height: 25%;
  width: 100%;
  background-color: $color-light-very-pale-blue_topBg;
}

