.header {
  grid-column: grid-start / grid-end;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  &__title {
    color: var(--color-text-main);
    font-weight: $font-weight-bold;
    font-size: 3rem;
  }

  &__subtitle {
    color: var(--color-text-secondary);
    font-weight: $font-weight-bold;
  }

}

.header__background {
  position: absolute;
  z-index: 1;
  height: 35%;
  width: 100%;
  transition: all .5s;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: var(--color-top-background);
}

