.overview-grid {
  display: grid;
  grid-template-columns: [card-grid-start] 1fr 1fr 1fr 1fr [card-grid-end];
  grid-template-rows: [card-grid-top] min-content [card-grid-start] .75fr .75fr [card-grid-end];
  grid-column-gap: 3rem;
  grid-row-gap: 1.5rem;

  grid-column: grid-start / grid-end;
  grid-row: overview-grid-start / overview-grid-end;
}
