.home {
  display: grid;
  position: relative;
  grid-template-columns: .5fr [grid-start] repeat(4, 1fr) [grid-end] .5fr;
  grid-template-rows: min-content min-content [social-media-start] 1fr [social-media-end overview-start] min-content [overview-end overview-grid-start] min-content [overview-grid-end] 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;

  width: 140rem;
}
